.card__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: rem(10);
  width: rem(270);
  padding: rem(15);
  transition: all 0.2s linear;
  position: relative;

  &:hover {
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
    transform: translateY(rem(-10));
  }

  &__head {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    left: rem(15);
    right: rem(15);
    justify-content: space-between;
  }

  &__label {
    background: #343434;
    border-radius: rem(33);
    padding: rem(5) rem(16);
    color: #fff;
    font-size: rem(12);
    line-height: 1.3;
    white-space: nowrap;
    display: inline-block;
  }

  &__image {
    margin-top: rem(40);
    width: 100%;
    height: rem(120);
    margin-bottom: rem(20);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    margin-bottom: rem(25);
  }

  &__category {
    color: rgba($color: #343434, $alpha: 0.5);
    font-size: rem(14);
    line-height: 1.3;
    display: block;
    margin-bottom: rem(10);

    span {
      color: #343434;
    }
  }

  &__title {
    color: #343434;
    line-height: 1.3;
    height: rem(74);
    font-size: rem(14);
    overflow: hidden;
    display: block;

    &:hover {
      color: $primary-color;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &_right {
      display: flex;
      align-items: flex-end;
    }
  }

  &__old-price {
    font-size: rem(12);
    color: rgba($color: #343434, $alpha: 0.5);
    display: block;
    text-decoration: line-through;
  }

  &__big-price {
    font-size: 18px;
    color: #343434;
  }

  &__favorite {
    cursor: pointer;
    transition: all 0.2s linear;
    color: #ccc;

    &:hover {
      color: $primary-color;
    }

    svg {
      width: rem(22);
      height: rem(22);
      fill: #343434;
    }

  }

  &__compare {
    margin-left: 11px;
    cursor: pointer;
    transition: all 0.2s linear;
    color: #ccc;

    &:hover {
      color: $primary-color;
    }

    svg {
      width: rem(22);
      height: rem(22);
    }

  }

  &__add {
    margin-left: 11px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      color: $primary-color;
    }

    svg {
      width: rem(23);
      height: rem(23);
    }

  }

  @include tablet {
    width: 100%;

    &__label {
      font-size: 12px;
    }

    &__category {
      font-size: 12px;
    }

    &__body {
      margin-bottom: 20px;
    }

    &__big-price {
      font-size: 18px;
      line-height: 24px;
    }

    &__old-price {
      font-size: 12px;
      line-height: 16px;
    }

    &__footer {
      &-right {
        align-items: flex-end;
      }
    }
  }
}