
@import "utils/vars";
@import "utils/reset";
@import "utils/mixins";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  font-family: $mainFont;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  overflow-x: hidden;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-top: 100px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s linear;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

// Modules

@import 'card';